/* KaiOS portrait devices (240x320) */
@media only screen and (orientation : portrait) {

 body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #cbc9cc;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

  
}

/* KaiOS landscape devices (320x240) */
@media screen and (orientation: landscape) {

  body {
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-color: #cbc9cc;  
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

  
}


header { 
  display:block;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.5);
  left: 0;
  top: 0;
  width: 100%;
  text-align: center;
  font-family: 'Open Sans';
  font-weight: 300;
  font-size: 17px;
  color: #000000;

}


.okkey {
  font-family: 'Open Sans';
  font-size: 16px;
  font-weight: bold;
}

.othkey {
  font-family: 'Open Sans';
  font-size: 14px;
  font-weight: normal;
}


footer {
	background-color: rgba(255, 255, 255, 0.5);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #000000;
    text-align: center;
}

.footertable {
  width: 100%;
}

.footerth {
  width: 33%;
}


#rec {
  font-size: 18px;
  font-weight: bold;
  color: #FF0000;
}